* {
    color-scheme: dark;
    margin: 0;
    padding: 0;
}

.nav-bar {
    font-size: 1.2rem;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 250px;
    width: 300px;
}

.btn-pedido {
    width: 130px;
    height: 40px;
    background-color: orange;
    border-radius: 50px;
}

/* no funciona *************/

.titulo-separador {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: black;
}

main{
    padding: 30px;
}

.section-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-content: space-evenly;
}

.card {
    background-color: blue;
    width: 200px;
    height: 180px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: whitesmoke;
    color: black;
}
