* {
    color-scheme: dark;
    margin: 0;
    padding: 0;
}

.nav-bar {
    font-size: 1.2rem;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 250px;
    width: 300px;
}

.btn-pedido {
    width: 130px;
    height: 40px;
    background-color: orange;
    border-radius: 50px;
}

/* no funciona *************/

.titulo-separador {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: black;
}

main {
    padding: 5%;
}

.section-cards {
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 350px));
    justify-content: space-evenly;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    & aside {
        display: grid;
        gap: 10px;
    }

    & ul {
        list-style: none;
    }
}

.card {
    min-height: 350px;
    position: relative;
    display: grid;
    color: black;
    background-color: whitesmoke;
    border: orange double 4px;
    padding: 10px;
    border-radius: 50px 10px;

    & h2 {
        text-align: center;
        margin: 0;
    }

    & img {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 40px;
    }

    & button {
        cursor: pointer;
        background-color: steelblue;
        color: black;
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%;
        border: orange inset 1px;
        border-radius: 0px 0px 50px;
        &:hover {
            background-color: orange;
            color: white;
            font-size: 0.85rem;
            transition: background-color 1s, font-size 1s;
        }
    }
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: whitesmoke;
    color: black;
}
